extends layout
block head
  title Game
  script(src='/javascripts/game.js')
block content
  .container.mx-auto

    div#start.container.mx-auto
      //- Bouton de lecture de la première musique
      button#playButton(onclick="beginBT()").text-4xl.text-bold.text-white.container.pb-10.pt-10.items-center.bg-red-500.p-2.rounded-lg.mx-auto(class="hover:bg-red-400").
        Play

    div.relative.hidden.container.mx-auto.p-0#video
      div.w-full.h-full.absolute.bg-black.container.z-10#hide
      video#video-player
      .mb-10

    div#play.hidden.container.mx-auto.border-2.border-black.p-10
      //- Ajout de l'élément vidéo avec l'ID "video-player"

      //- Bouton de musique suivant
      //- n'existe plus button#nextButton(onclick="nextButton()") Next

      //- Zone de texte
      label.mx-auto Nom de l'anime :
      .mb-4
      input#textInput(type="text",class="p-0.5").border.border-gray-300.w-full.bg-gray-50.p1.rounded-lg
      .mb-4

      //- Bouton de validation de la réponse
      button#submitButton(onclick="checkAnswer()", style="display: none") Submit

    #transition.hidden.container.mx-auto.p-10.border-2.border-black
      p.text-center.text-gray-900.text-bold.text-2xl Good answer was :
      p.border.text-center.border-gray-300.w-full.bg-gray-50.p1.rounded-lg.text-xl#answer
      p.text-center.text-gray-800.text-bold.text-2xl Were you correct ?
      p.border.text-center.border-gray-300.w-full.bg-gray-50.p1.rounded-lg.text-xl#correction
    #end.hidden.container.p-10
      p THE END !!!