extends layout
block head
  title Game
  script(src='/javascripts/game.js')
block content
  .container.mx-auto.flex.flex-col.justify-center.align-center.w-full.p-50

    div#start.container.mx-auto
      //- Bouton de lecture de la première musique
      button#playButton(onclick="beginBT()", class="hover:bg-red-400").text-4xl.text-bold.text-white.container.pb-10.pt-10.items-center.bg-red-500.p-2.rounded-lg.mx-auto.
        Play

    div.relative.hidden.max-w-10xl.mx-auto.p-0.mt-80#video
      div.w-full.h-full.absolute.bg-black.container.z-10#hide
      video#video-player
      .mb-10

    div#play.hidden.container.mx-auto.border-2.border-black.p-10
      //- Ajout de l'élément vidéo avec l'ID "video-player"

      //- Bouton de musique suivant
      //- n'existe plus button#nextButton(onclick="nextButton()") Next

      //- Zone de texte

      // a faire : faire une page intermediaire qui permet de choisir les informations a afficher parmis (nom de la musique, nom de l'artiste, origine, type de musique)
      label.mx-auto Music name :
      .mb-4
      input#textInputMusic_name(type="text",class="p-0.5").border.border-gray-300.w-full.bg-gray-50.p1.rounded-lg
      .mb-4
      label.mx-auto Artist name:
      .mb-4
      input#textInputArtist(type="text",class="p-0.5").border.border-gray-300.w-full.bg-gray-50.p1.rounded-lg
      .mb-4
      label.mx-auto Origin :
      .mb-4
      input#textInputOrigin(type="text",class="p-0.5").border.border-gray-300.w-full.bg-gray-50.p1.rounded-lg
      .mb-4
      label.mx-auto Type of music
      .mb-4
      input#textInputMusic_Type(type="text",class="p-0.5").border.border-gray-300.w-full.bg-gray-50.p1.rounded-lg
      .mb-4



      //- Bouton de validation de la réponse
      button#submitButton(onclick="checkAnswer()", style="display: none") Submit
    #transition.hidden.container.mx-auto.p-10.border-2.border-black
      p.text-center.text-gray-900.text-bold.text-2xl Correction :
      .grid-cols-2.grid
        label.mx-auto.col-span-2 Music name :
        p.border.text-center.border-gray-300.w-full.bg-gray-50.p1.rounded-lg.text-xl#yourMusicName
        p.border.text-center.border-gray-300.w-full.bg-gray-50.p1.rounded-lg.text-xl#answerMusicName
        label.mx-auto.col-span-2 Artist name :
        p.border.text-center.border-gray-300.w-full.bg-gray-50.p1.rounded-lg.text-xl#yourArtistName
        p.border.text-center.border-gray-300.w-full.bg-gray-50.p1.rounded-lg.text-xl#answerArtistName
        label.mx-auto.col-span-2 Origin :
        p.border.text-center.border-gray-300.w-full.bg-gray-50.p1.rounded-lg.text-xl#yourOrigin
        p.border.text-center.border-gray-300.w-full.bg-gray-50.p1.rounded-lg.text-xl#answerOrigin
        label.mx-auto.col-span-2 Type of music :
        p.border.text-center.border-gray-300.w-full.bg-gray-50.p1.rounded-lg.text-xl#yourMusicType
        p.border.text-center.border-gray-300.w-full.bg-gray-50.p1.rounded-lg.text-xl#answerMusicType

    #end.hidden.container.p-10
      p THE END !!!
    #score.hidden.container.p-10
      p.text-center.text-gray-900.text-bold.text-2xl Your score is :
      p.border.text-center.border-gray-300.w-full.bg-gray-50.p1.rounded-lg.text-xl#scoreValue
  script var data = !{JSON.stringify(musics)}
  script var infoMusics = !{JSON.stringify(infoMusics)}
  script var user_id = !{JSON.stringify(id)}