extends layout
block head
  title #{title}
block content
  .container.flex-col
    .container.text-blue-500.text-4xl.font-bold
      div Bonjour et bienvenu sur le site de Blindtest !
    .container.mx-auto.flex.justify-center.align-center.flex-row
      a.border-2.border-red-900.p-10.pl-40.rounded-lg.mx-5.font-bold.text-4xl.text-red-300(class="hover:bg-red-200")(href='/') Home
      a.border-2.border-red-900.p-10.pr-40.rounded-lg.mx-5.font-bold.text-4xl.text-red-300(class="hover:bg-red-200")(href='/game') Game

    // if connected == true
    .container.mx-auto.flex.justify-center.align-center.grid.grid-cols-4.gap-4
      div.border-2.border-teal-500.p-5.pt-3.pb-3.rounded Music access :
      a.border-2.border-teal-900.p-5.pt-2.pb-2.rounded-lg(style="font-size:1vw", class="hover:bg-teal-200")(href='/music/database') music database
      a.border-2.border-teal-900.p-5.pt-2.pb-2.rounded-lg(style="font-size:1vw", class="hover:bg-teal-200")(href='/music/add') add music to database
      a.border-2.border-teal-900.p-5.pt-2.pb-2.rounded-lg(style="font-size:1vw", class="hover:bg-teal-200")(href='/music/delete') delete music to database
      div.border-2.border-teal-500.p-5.pt-3.pb-3.rounded Playlist access:
      a.border-2.border-teal-900.p-5.pt-2.pb-2.rounded-lg(style="font-size:1vw", class="hover:bg-teal-200")(href='/playlist/database') playlist database
      a.border-2.border-teal-900.p-5.pt-2.pb-2.rounded-lg(style="font-size:1vw", class="hover:bg-teal-200")(href='/playlist/add') add playlist to database
      a.border-2.border-teal-900.p-5.pt-2.pb-2.rounded-lg(style="font-size:1vw", class="hover:bg-teal-200")(href='/playlist/delete') delete playlist to database

    .container.mx-auto.flex.justify-center.align-center
      a.border-2.border-red-900.p-5.pt-2.pb-2.rounded-lg.mx-5(href="#")(class="hover:bg-red-200") Se Connecter !
