//doctype html a enlever quand l'ui de tous les sites seront a faire
html
  head
    link(rel='stylesheet', href='/stylesheets/table.css')
    link(rel='stylesheet', href='/styles/style.css')
    block head
  body
    nav.top-0.fixed.flex.justify-center.align-center.w-full
      a.container.mx-auto.border.border-blue-500.text-4xl.font-bold.text-blue-500(href="/index").
          Home
    .flex.container.mx-auto.justify-center.align-center.h-full
      block content