
doctype html
html
  head
    title Login Page
    link(rel='stylesheet', href='/stylesheets/login.css')

  body
    h1 Login Page

    form(action='/login', method='POST')
      label(for='username') Username:
      input(type='text', id='username', name='username')

      label(for='password') Password:
      input(type='password', id='password', name='password')

      input(type='submit', value='Login')

    form(action='/login/logout', method='get')
      button(type='submit') Logout
