doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/table.css')
    title All Data
  body
    h1 All Data
    table
      thead
        tr
          each column, index in data[0]
            th= column
          // Generate headers for all columns

      tbody
        each row in data
          tr
            each column in row
              td= column
            td
                form(action='delete', method='get')
                    input(type='hidden', name='id', value=row.music_id)
                    button(type='submit') Delete
            // Generate cells for all columns
